body {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gameTitle {
    justify-content: center;
    display: flex;
    color: red;
    flex: 1 1 auto;
    margin-bottom: 5%;
    font-size: 200%;
}

.gameBox {
    justify-content: center;
    display: flex;
    flex: 1 1 auto;
    border: 1px solid black;
    height: flex;
    width: 50cap;
    margin: auto;
    contain:inherit;
}

.gridColumn {
    display: grid;
    border: 0.1px solid black;
    width: 50%;
}

.cell {
    border: .1px solid black;
    justify-content: center;
    display: flex;
    height: 24pt;
    text-align: center;
    align-items: center;
    color: white;
    user-select: none;
}